
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class = "categories">
  <label>Categories</label>
  <select (change)="FilteredItem($event)">
    <option value="None"> None  </option>
    <option value="E-books"> E-books </option>
  </select>
</div>

<div id = "main">
<h2><strong>Products</strong></h2>

  <div *ngFor="let product of filteredItems" class = "products">
  <h3>
    <a
      [title]="product.name + ' details'"
      [routerLink]="['/products', product.id]">
      {{ product.name }}
    </a>
  </h3>

  <p>
    <a href = {{product.kaspi_link}}>kaspi.kz</a>
  </p>

  <div>
    <a href = {{product.url}}>
    <img src="{{ product.url }}" alt='' width = "200">
    </a>

    <a class = "gallery" href = {{product.url1}}>
      <img src="{{ product.url1 }}" alt='' width = "100">
    </a>

    <a class = "gallery" href = {{product.url2}}>
      <img src="{{ product.url2 }}" alt='' width = "100" >
    </a>
  </div>


  <p *ngIf="product.description">Description: {{ product.description }}</p>
  <div class = "checked">
  <span class={{product.star1}}></span>
  <span class={{product.star2}}></span>
  <span class={{product.star3}}></span>
  <span class={{product.star4}}></span>
  <span class={{product.star5}}></span>
  </div>

  <div>
    <a href = "https://api.whatsapp.com/send/?text={{ product.kaspi_link }}&type=custom_url&app_absent=0">
      <button type="submit">Share</button>
    </a>
  </div>


  <app-product-alerts [product]="product" (notify)="onNotify()">
  </app-product-alerts>
</div>
</div>

<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
